body {
font-family: 'Segoe UI', sans-serif;
background-color: #470501;
color: #4b2e2e;
}

.navbar {
box-shadow: 0 2px 5px rgba(108, 3, 3, 0.708);
background-color: #470501 !important;
color: #F7F6E4;
padding-bottom: 15px;
position: fixed;
top: 0;
width: 100%;
transition: top 0.3s ease-in-out;
z-index: 999;
}

.navbar a{
text-decoration: none;
}

.navbar-brand{
color: #F7F6E4;
font-size: 1.3rem;
}

.nav-link{
text-align: center;
display: inline-block;
padding: 15px 40px;
cursor: pointer;
letter-spacing: 2px;
position:relative;
overflow:hidden;
margin: 0 20px;
color: #F7F6E4;
transition: color 0.3s;
}

.nav-link:before {
content: "";
position: absolute;
width: 0;
background : #F7F6E4;
left: 45%;
height: 2px;
bottom: 0;
transition: all .3s;
opacity: 0.7;
}

.nav-link:hover:before {
width: 100%;
left:0;
}
.navbar-collapse {
background-color: #470501 !important;
}

@keyframes fadeSlideDown {
0% {
opacity: 0;
transform: translateY(-10px);
}
100% {
opacity: 1;
transform: translateY(0);
}
}

.navbar-collapse.show {
animation: fadeSlideDown 0.4s ease-out;
}

.navbar-nav .nav-link {
color: white !important;
}